body{
	background-color: #f2f2f2;
}

body .container{
	font-family: 'Lemonada', cursive;

}

.sidebar::-webkit-scrollbar-track, body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.sidebar::-webkit-scrollbar, body::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.sidebar::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb
{
	background-color: #000000;
}

#review-carousel {

}

.container .main.row {
	height: 650px;
	background-image: url('https://positively.com/files/dogwalkroutine.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.6;

}

.container .main.row h1{
	font-size: 80px;
	margin-top: 20px;
}

.main.row h1,h3,.text-center{
	color: white;
	text-align: center;
}
.container .main.row #owner{
	padding: 12px;
	font-size: 30px;
	border-radius: 10px;
}
.container .main.row #host{
	padding: 12px;
	font-size: 15px;
	border-radius: 10px;	
}

.container .sliding-reviews.row{
	height: 400px;
}

.carousel-inner .item .reviews img{
	width: 500px;
}


.container .how-it-works.row {
	height: 250px;
	margin: 0;
}
.how-it-works.row .col-md-4{
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.8;
}
.how-it-works.row .col-md-4.one{
	background-image: url('https://static.pexels.com/photos/59523/pexels-photo-59523.jpeg');
}
.how-it-works.row .col-md-4.two{
	background-image: url('https://static.pexels.com/photos/4933/lake-animals-dogs-pets.jpg');

}
.how-it-works.row .col-md-4.three{
	background-image: url('https://static.pexels.com/photos/511299/pexels-photo-511299.jpeg');

}
.how-it-works.row .col-md-4 h3{
	text-align: center;
}

.container .sliding-reviews.row {
	height: 300px;
}

.container .guarantees.row{
	height: 300px;
	background-color: #efefef;
	margin: 0;
}

.container .guarantees.row .section{
	text-align: left;
	margin-left: 20px;
}

.container .guarantees.row .logo-container{
    margin-top: 1%;
    text-align: center;
    width: 47%;
    vertical-align: top;
}

.container .guarantees.row .guarantee-head{
	color: black;
	text-align: left;
	text-shadow: -5px 5px 12px rgba(0, 0, 0, 0.42);
}


.container .tips.row {
	height: 300px;
}

.container .tips.row .col-md-6{
	height: 300px;
}

.tips.row .col-md-6.pic{
	background-image: url('../images/family-and-dog-beach.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.tips.row .col-md-6.suggestions{
	background-color: #efefef;
}

.container .contact-us.row {
	height: 380px;
	margin: 0;
}

.container .contact-us.row .col-md-6{
	height:380px;
	font-size: 14px;
	text-align: center;
}
.container .contact-us.row .col-md-6.pic{
	background-image: url('https://static.pexels.com/photos/504772/pexels-photo-504772.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
}
.container .contact-us.row .col-md-6.contact h2{
	font-weight: bold;

}
.container .contact-us.row .col-md-6.contact{
	background-color: #efefef;	
}

.container .footer.row{
	padding-bottom: 20px;
	margin: 0;
}
.container .footer.row .col-md-3{
	height: 280px;
}

.carousel-inner .item {
    position: relative;
}

.carousel-inner .item img {
    width: 100%;
    /* position: absolute; */
}

.carousel-inner .item .reviews{
	position: absolute;
}

.col-md-7 h4{
	margin-right: 18px;
}

.footer .item {
    list-style-type: hebrew;
    padding-left: 10px;
}

li.item:last-child {
    margin-bottom: 20px;
}

.footer{
	display: inline-block;
	padding-top: 10px;
}
.footer.row{
	background-color: rgba(105, 171, 157, 0.21);
}

.footer #copyrighttext{

	text-align: center;
}

#logo-image{
	margin-top: 13%;
}

