body{
	background-color: #f2f2f2;
}

body .container{
	font-family: 'Lemonada', cursive;

}

.container .main.row {
	height: 650px;
	background-image: url('https://positively.com/files/dogwalkroutine.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.6;
}

.container .main.row h1{
	font-size: 80px;
	margin-top: 20px;
}

.main.row h1,h3,.text-center{
	color: white;
	text-align: center;
}
.container .main.row #owner{
	padding: 12px;
	font-size: 30px;
	border-radius: 10px;
}
.container .main.row #host{
	padding: 12px;
	font-size: 15px;
	border-radius: 10px;	
}

.container .sliding-reviews.row{
	height: 400px;
}

.carousel-inner .item .reviews img{
	width: 500px;
}


.container .how-it-works.row {
	height: 250px;

}
.how-it-works.row .col-md-4{
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 0.8;
}
.how-it-works.row .col-md-4.one{
	background-image: url('https://static.pexels.com/photos/59523/pexels-photo-59523.jpeg');
}
.how-it-works.row .col-md-4.two{
	background-image: url('https://static.pexels.com/photos/4933/lake-animals-dogs-pets.jpg');

}
.how-it-works.row .col-md-4.three{
	background-image: url('https://static.pexels.com/photos/511299/pexels-photo-511299.jpeg');

}
.how-it-works.row .col-md-4 h3{
	text-align: center;
}

.container .sliding-reviews.row {
	height: 300px;
}

.container .guarantees.row{
	height: 300px;
	background-color: #efefef;
}

.container .guarantees.row .section{
	text-align: left;
	margin-left: 20px;
}

.container .guarantees.row .logo-container{
    margin-left: 10%;
    margin-top: 1%;
}

.container .guarantees.row .guarantee-head{
	color: black;
	text-align: left;
}


.container .tips.row {
	height: 300px;
}

.container .tips.row .col-md-6{
	height: 300px;
}

.tips.row .col-md-6.pic{
	background-image: url('../images/family-and-dog-beach.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.tips.row .col-md-6.suggestions{
	background-color: #efefef;
}

.container .contact-us.row {
	height: 380px;

}

.container .contact-us.row .col-md-6{
	height:380px;
	font-size: 14px;
	text-align: center;
}
.container .contact-us.row .col-md-6.pic{
	background-image: url('https://static.pexels.com/photos/504772/pexels-photo-504772.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
}
.container .contact-us.row .col-md-6.contact h2{
	font-weight: bold;

}
.container .contact-us.row .col-md-6.contact{
	background-color: #efefef;	
}

.container .footer.row{
	height: 280px;
}
.container .footer.row .col-md-3{
	height: 280px;
}

.carousel-inner .item {
    position: relative;
}

.carousel-inner .item img {
    width: 100%;
    position: absolute;
}

.carousel-inner .item .reviews{
	position: absolute;
}

.col-md-7 h4{
	margin-right: 18px;
}

body .container .footer.row{

	width: auto;

}

.footer{
	display: inline-block;
}
.footer.row{
	background-color: #eae3e3;
}

.footer #copyrighttext{

	text-align: center;
}

#logo-image{
	margin-top: 13%;
}

